* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
body {
  position: relative;
}

body::before {
  content: "";
  height: 100vh;
  width: 100%;
  position: absolute;
  background-image: url("../images/backcover.svg");
  background-repeat: no-repeat;
  top: 0px;
  z-index: -1;
  left: 52%;
  background-size: 48%;
}
.main-div {
  padding: 37px 100px 0 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
nav > img {
  cursor: pointer;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 50px;
  cursor: pointer;
}
.nav-item {
  font-weight: bold;
  font-size: medium;
  color: #3e4794;
  position: relative;
}

.nav-item:hover::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -9px;
  border-radius: 20px;
  width: 3rem;
  height: 4px;
  background-color: #3e4794;
}

nav > button {
  height: 30px;
  width: 80px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(90deg, #955bf1, #ff89db);
  color: #fff;
  cursor: pointer;
}

nav > button:hover {
  background: linear-gradient(90deg, #ff89db, #955bf1);
}

/* intro-section */
.intro-section {
  margin-top: 80px;
  display: flex;
}
.left-section {
  width: 50%;
  margin: 40px 0 0 0;
}
.left-section > h1 {
  margin: 4px 0 53px 0;
  font-size: 80px;
  color: #3d4693;
}

.left-section > h4 {
  line-height: 28px;
  font-weight: unset;
  color: #0d1348;
}

.left-section > button {
  margin: 40px 0 30px 0;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(90deg, #955bf1, #ff89db);
  color: #fff;
  cursor: pointer;
}


.left-section > button:hover {
  background: linear-gradient(90deg, #ff89db, #955bf1);
}

.imgs-div > img {
  position: absolute;
}
.vector-img {
  top: 32rem;
  left: 40rem;
}

img[alt="intro-img"] {
  top: 7rem;
  height: 39rem;
}
